# Git
.git
.gitignore

# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Datasets and large weights (Consider passing these via volume mounts instead)
datasets/
piper/
tmp_spkrec/
*.zip
*.tar
*.gz
*.onnx


# Other
benchmarks/
Notebooks/

/memory
/.claude