faster-whisper
datasets==3.6.0
torch
librosa
matplotlib
transformers==4.57.3
numpy
ipython
vosk
pyttsx3
sentencepiece
soundfile
hf_xet
gTTS
peft==0.10.0
speechbrain
scipy
fastapi
uvicorn[standard]
python-multipart