faster-whisper
datasets==3.6.0
torch
librosa
matplotlib
transformers==4.57.3
numpy<2.0.0
ipython
vosk
pyttsx3
sentencepiece
soundfile
hf_xet
gTTS
peft==0.10.0
speechbrain
scipy
fastapi
uvicorn[standard]
python-multipart
jiwer
torchvision
backoff
ipywidgets
evaluate
sacrebleu
rouge-score
pytorch-lightning==2.6.1
entmax
jsonargparse
protobuf==5.28.3